<h1>{{title}}</h1>
<form [formGroup]="profileForm">
  <label>prenom: <input type="text" formControlName="fname" ></label>
  <label>nom: <input type="text" formControlName="lname"></label>
  <label>email: <input type="text" formControlName="email"></label>
  <div formArrayName="contacts">
    <h1>Contacts</h1>
    <button (click)="addContact()">Add contact</button>
    <div *ngFor="let c of contacts.controls;index as i">
      <div [formGroupName]="i">
        <h3>Contact {{i}}</h3>
        <label>nom: <input type="text" formControlName="nom"></label>
        <label>bureau: <input type="text" formControlName="bureau"></label>
        <label>doordash: <input type="text" formControlName="doordash"></label>
      </div>
    </div>
  </div>
  <button type="submit"  [disabled]="!profileForm.valid">sousmettre</button>
</form>
<table>
  <tr *ngFor="let s of students">
    <td>{{s.fname}}</td>
    <td><a href="#" (click)="select(s)" > details </a></td>
  </tr>
</table>

{{profileForm.value | json}}
<br>
<p>user lat. </p>
{{ya}}<br>
<p>datetime: </p>
{{time$ | async}}<br>
<p>weather from openWeather</p>

<input id="search-box">
{{weather | json}}
<app-details [student]="selected" (studentChange)="next($event)"></app-details>
